<%- include('parts/html_head') %>
<%- include('parts/navbar') %>
<!-- Banner -->
<div class="indexPage indexBackColor">
    <div class="indexBanner"></div>
</div>
<!-- New Arrivals -->
<div class="indexPage goodTag" id="newArrivals">#New Arrivals</div>
<!-- secondBanner -->
<div class="indexPage">
    <div class="container">
        <div class="indexBackColor">
            <div
                style="width:auto;background-color: rgba(80, 80, 230, 0.6); display: flex; justify-content: flex-start;">
                <div class="secondBanner"></div>
                <div class="secondBannerIntro" style="margin:auto">Shop Now!</div>
            </div>
        </div>
    </div>
</div>
<!-- About Us -->
<div class="indexBackColor goodTag" id="aboutUs">#About Us</div>
<div class="indexBackColor" style="padding: 30px;">Winnie-the-Pooh first appeared by name on 24 December 1925, in a
    Christmas story commissioned and published by the London newspaper The Evening News</div>

<!-- contactUs -->
<div class="indexBackColor goodTag" id="contactUs"
    style="padding-bottom: 10px; background-color: #2C3E50; color: #F4D03F;">#Contact Us</div>
<div class="indexBackColor" style="text-align: center; background-color: #2C3E50; color: #F4D03F;">
    <div style="display: flex; justify-content: center;">
        <form action="#" method="GET">
            <div class="st1">
                <label class="la1" for="name">Name: </label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Your name." size="27">
            </div>
            <div class="st1">
                <label class="la1" for="email">Email: </label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Your email." size="27">
            </div>
            <div class="st1">
                <label class="la1" for="subject">Subject: </label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject." size="27">
            </div>
            <div class="st1">
                <label class="la1" for="content">Content: </label>
                <textarea class="form-control" name="content" id="content" cols="30" rows="3"
                    style="resize:none;"></textarea>
            </div>
            <div class="st1" style="border-bottom: none;">
                <button type="submit" class="btn btn-warning">Submit</button>
            </div>
        </form>
    </div>
</div>
<div class="indexBackColor">
    <!-- <div class="container" style="display: flex; justify-content: center;">
                <div class="goodFrame">
                    <div><img class="goodPic" src="images/poohKeyBag.jpg" alt=""></div>
                    <div class="goodText">✨小熊維尼指環扣手機支架✨
                        滑手機30分鐘，要休息一下看看維尼❤️
                        防掉指環設計，可旋轉360°，上下摺疊180</div>
                </div>
                <div class="goodFrame" >
                    <div><img class="goodPic" src="images/poohKeyBag.jpg" alt=""></div>
                    <div class="goodText">✨小熊維尼指環扣手機支架✨
                        滑手機30分鐘，要休息一下看看維尼❤️
                        防掉指環設計，可旋轉360°，上下摺疊180</div>
                </div>
                <div class="goodFrame">
                    <div><img class="goodPic" src="images/poohKeyBag.jpg" alt=""></div>
                    <div class="goodText">✨小熊維尼指環扣手機支架✨
                        滑手機30分鐘，要休息一下看看維尼❤️
                        防掉指環設計，可旋轉360°，上下摺疊180</div>
                </div>
                <div class="goodFrame">
                    <div><img class="goodPic" src="images/poohKeyBag.jpg" alt=""></div>
                    <div class="goodText">✨小熊維尼指環扣手機支架✨
                        滑手機30分鐘，要休息一下看看維尼❤️
                        防掉指環設計，可旋轉360°，上下摺疊180</div>
                </div>
                <div class="goodFrame">
                    <div><img class="goodPic" src="images/poohKeyBag.jpg" alt=""></div>
                    <div class="goodText">✨小熊維尼指環扣手機支架✨
                        滑手機30分鐘，要休息一下看看維尼❤️
                        防掉指環設計，可旋轉360°，上下摺疊180</div>
                </div>
                 <div><img src="images/poohCupBag.jpg" alt=""></div>
                <div><img src="images/poohWetWipes.jpg" alt=""></div>
                <div><img src="images/poohCoinPurse.jpg" alt=""></div>
                <div><img src="images/tsumCoaster.jpg" alt=""></div>
    </div> -->
</div>

<%- include('parts/scripts') %>
<style>
    .indexBanner {
        background-image: url('/images/indexWall.jpg');
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        /*  width: auto;
        background: linear-gradient(360deg, rgba(255, 119, 137, 1)0%, rgba(213, 127, 97, 1)100%);
        background: -moz-linear-gradient(360deg, rgba(255, 119, 137, 1)0%, rgba(213, 127, 97, 1)100%);
        background: -webkit-linear-gradient(360deg, rgba(255, 119, 137, 1)0%, rgba(213, 127, 97, 1)100%);
        background: -o-linear-gradient(360deg, rgba(255, 119, 137, 1)0%, rgba(213, 127, 97, 1)100%); */
    }

    .goodTag {
        font-family: 'Mansalva', cursive;
        font-size: 50px;
        text-align: center;
        line-height: 50px;
        padding: 80px;
    }

    .secondBanner {
        background-image: url('images/index1.jpg');
        height: 508px;
        width: 508px;
    }

    .secondBannerIntro {
        width: auto;
        /* line-height: 508px; */
        text-align: center;
        color: white;
        font-family: 'Mansalva', cursive;
        font-size: 40px;
    }

    .secondBannerIntro:hover {
        text-decoration: underline;
    }

    div>img {
        height: 400px;
        width: 400px;
    }

    .goodFrame {
        /* background-color: black; */
        padding: 10px;
        margin: 5px;
        height: 450px;
        width: 326px;
        border: 3px solid #FF5733;
        border-radius: 10px;
    }

    .goodPic {
        margin: 0;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .goodText {
        /* color: white; */
    }

    .st1 {
        border-bottom: 1px solid #F2F3F4;
        width: 450px;
        margin: 5px;
        padding: 5px 10px;
    }

    .la1 {
        width: 100px;
        float: left;
        text-align: right;
        font-family: 'Mansalva', cursive;
        font-size: 25px;
    }

    /* 
    .middleBlock {
        margin: 0px;
        font-family: 'Mansalva', cursive;
        font-size: 50px;
        color: white;
        background-color: black;
        width: 200%;
        text-align: center; 
    } */
</style>
<script>
    change = true;
    function changeColor() {
        if (change) {
            $("#indexBanner").css("backgroundColor", "#7FB3D5");
            change = false;
        } else {
            $("#indexBanner").css("backgroundColor", "blueviolet")
            change = true;
        };
        setTimeout(changeColor(), 1500);
    };
</script>
<%- include('parts/html_foot') %>