<%- include('parts/html_head') %>
<%- include('parts/navbar') %>
<div>

    <form action="#" method="POST" name="form1">
        <!-- <label for="name">name</label> -->
        <!-- <input type="text" name="name" id="name"> -->
        <label for="">text</label>
        <input type="text" name="text" id="text">
        <!-- <label for="">text2</label>
        <input type="text" name="text2" id="text2"> -->
        <input type="submit">
    </form>

</div>
<%- include('parts/scripts') %>
<script>

</script>
<%- include('parts/html_foot') %>