<div style="display: flex; justify-content: center; margin: 20px 0px;">
    <img src="images/honeycomb.png" style="width: 100px;">
    <div
        style="width:250px; line-height: 100px; font-size: 40px; font-family: 'Maven Pro', sans-serif; text-align: center;">
        PoohFavor</div>
</div>